static
env
models
runs
output_log
data
language_checkpoints
/OpenNMT-py
checkpoints
source.vocab
target.vocab
target.model
/target_source
/output_tensorboard_log
/output_tensorboard_now
/label_only_vie
/target_source
en_vi_label.csv
only_vi_label.csv
